 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto; 
    padding: 2rem; 
   

}

.title {
    max-width: 100%; 
    font-size: 2.5rem ;
    text-align: center;
    margin: 2rem ; 
    color: var(--text-shadow);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    align-items: center; 
    width: 100%;
}

 .fields {
    width: 100%;
    max-width: 450px; 
    display: flex;
    flex-direction: column;
    gap: 25px; 
    text-align: left; 
    margin-bottom: 20px;
}


.actions {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin: 20px auto 0;
    padding: 8px, 16px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    
}  

.modal{
    text-align: center;
}

.actions button {
    width: 120px; 
    height: 45px; 
    padding: 8px; 
    font-family: 'Syne', sans-serif;
    font-size: 16px !important; 
    font-weight: normal;
}

p{
    margin-bottom: 10px;
}

.actions {
    display: flex;      
    gap: 150px;         
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

.actions a{
    color: var(--color-texth3);
    font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    max-width: 480px;
    margin-bottom: 12vh; 

  }

}

.desktopOnly {
    display: none;
    animation: none !important; 
    transition: none !important;
    opacity: 1 !important;
}

@media (min-width: 1000px){
.desktopOnly {
    display: inline;
    color: inherit;
}
.container{
    max-width: 600px;
    padding: 2rem;
    margin-bottom: 30px;
    margin-top: 30px;
    min-height: auto;
}
.form{
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas: "form Avatars" "Actions actions";
    gap: 40px;
    max-width: 900px;
}
.fields {
    grid-area: form;
}
.modal {
    grid-area: Avatars;
    margin-left: 20px;
    margin-right: 60px;
    margin-bottom: 100px;
}
.accions {
    grid-area: Actions;
}
}


  




