.panel_contact {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section_address {
  order: 2;
  display: flex;
  justify-content: center;
}

.section_formContact {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1000px) {
  .panel_contact {
    width: 100%;
    flex-direction: row;
  }

  .section_address {
    width: 50%;
    padding-top: 80px;
    order: 1;
  }

  .section_formContact {
    width: 50%;
    order: 2;
  }
}
