 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto; 
    padding: 2rem; 
   

}

.title {
    max-width: 100%; 
    font-size: 2rem ;
    text-align: center;
    margin: 2rem ; 
    color: var(--text-shadow);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    align-items: center; 
    width: 100%;
    width: 280px;
}

 .fields {
    width: 100%;
    max-width: 450px; 
    display: flex;
    flex-direction: column;
    gap: 25px; 
    text-align: left; 
    margin-bottom: 20px;
    
   
}
.row{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}
.row > * {
    flex: 1;

}

.row input{
border-color: var(--color-texth2)!important; 
}
.fields input{
border-color: var(--color-texth2)!important; 
}

.fields div {
    width: 100%;
}
.wstate{
    width: 40%;
    align-self: flex-start;
    
}

.wstate input{
border-color: var(--color-texth2)!important; 
}


.descWrapper{
    width: 100%;
}

.descWrapper input{
    height: 150px; /* Aquí le das el tamaño "cuadrado" */
    display: flex;
    align-items: flex-start; /* Intenta que el texto empiece arriba */
    padding-top: 15px !important;
    border-color: var(--color-texth2)!important; 

}
.actions {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin: 20px auto 0;
    padding: 8px, 16px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    
}  

.actions button {
  
    width: 120px; 
    height: 45px; 
    padding: 8px; 
    font-family: 'Syne', sans-serif;
    font-size: 16px !important; 
    font-weight: normal;
}

/* @media (min-width: 768px) {
  .container {
    max-width: 480px;
    margin-bottom: 12vh; 

  }

}

@media (min-width: 1000px){
.container{
    max-width: 600px;
    padding: 2rem;
    margin-bottom: 30px;
    margin-top: 30px;

    min-height: auto;
}

.actions {
    display: flex;      
    gap: 150px;         
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
} */
