.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.label {
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    color: #333;
    /* Si quieres que el label también esté centrado como el título: */
    text-align: left; 
    padding-left: 10px;
}

.mainInput {
    /* border: 2px solid var(--color-texth2); El rosa fuerte de tu :root */
    border-radius: 20px;
    padding: 12px 15px;
    background-color: #f0f7f4; /* El tono hueso/verdoso de la imagen */
    font-family: 'Syne', sans-serif;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.mainInput::placeholder {
    color: #999;
    font-size: 0.9rem;
}