.not_found{
    width: 100%;
    height: 40vh;
    font-size: 32px;
    margin: 50px auto;
}


.gallery_view{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
     column-gap: 5%;
    row-gap: 20px;
}